<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="CSS/modules_css/drink_menu.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>nav</title>
</head>

<body>
  <nav class="menu_container">
    <div>
      <h2>MENU</h2>
      <ul class="menu">
        <% category.forEach(function(cate,index){ %>
          <% if(index == 0){ %>
            <li class="active" id="<%-cate.category_id%>"><%-cate.name%> </li>
          <% } else { %>
            <li id="<%-cate.category_id%>"><%-cate.name%> </li>
          <% } %>
        <% }); %>
      </ul>
    </div>
  </nav>
</body>

</html>