<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/modules_css/drink_menu.css">
    <title>nav</title>
</head>
<body>
  <nav class="menu_container">
    <div>
      <h2>MENU</h2>
      <ul class="menu">
        <li class="active">Trà trái cây</li>
        <li>Cafe</li>
        <li>Trà sữa</li>
        <li>Matcha</li>
      </ul>
    </div>
  </nav>
</body>
</html>