<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="CSS/queue_order.css">
    <title>Happy Cafe</title>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3001");
    </script>
</head>
<body>
    <div id="background" class="container-fluid" >
         <!--hiển thị alert-->
         <div class="alert_box">
           
        </div>
        <!--navigation module-->
        <div class="row">
            <div id="module_nav" >
                <%-include('./modules/navigation')%>
            </div>
        </div>
           
        <!--menu module-->
        <div class="row" id="body">
            <div id="queue_zone" class="col-lg-8">
                <div id="queue_layout">
                    <div id="header">
                            <!--Chọn ngày để xem order-->
                            <input type="date" id="select_date" onchange="selectDate()">
                            
                            <select id="select_status" style="margin-left: 50px;" onchange="selectStatus()">
                                <option id="option_waiting" value="waiting">Đang chờ</option>
                                <option id="option_complete" value="complete">Hoàn tất</option>
                            </select>
                    </div>

                    <!--Bảng order-->
                    <div id="table_queue">
                        <div id="table_header">
                            <table>
                                <tr>
                                    <th style="width: 5%">Thứ tự</th>
                                    <th style="width: 10%">Tên khách</th>
                                    <th style="width: 15%">Thời gian</th>
                                    <th style="width: 45%">Món</th>
                                    <th style="width: 7%">Giảm giá</th>
                                    <th style="width: 8%">Tổng tiền</th>
                                    <th style="width: 10%">Tình trạng</th>
                                </tr>
                            </table>
                        </div>

                        <div id="table_body">
                            <table>
                                
                            </table>
                        </div>
                        
                        <script>
                            var height=  $("#table_body").height();
                            if(height > 520){
                                $("#table_header").css("padding-right","18px")
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div id="is_making_zone" class="col-lg-4">
                <div id="is_making_layout">
                    <h2>Đang pha chế</h2>

                    <div id="info">
                        <div class="info_row">
                            <div class="key">
                                <span>Tên khách hàng:</span>
                            </div>
                            <div class="value">
                                <span id="customer_name"></span>
                            </div>
                        </div>
    
                        <div class="info_row">
                            <div class="key">
                                <span>Ghi chú:</span>
                            </div>
                            <div class="value">
                                <span id="note"></span>
                            </div>
                        </div>
                    </div>

                    <div id="drinks">
                        <ul>
                               
                        </ul>
                    </div>

                    <div style="width: fit-content; margin :auto; margin-top: 20px">
                        <form>
                            <input type="hidden" id="orderDone">
                            <button type="button" class="btn btn-default" onclick="confirmOrder()" disabled id="submit">Hoàn tất</button>

                            <div class="confirm_done">
                                <p>Xác nhận hoàn tất?</p>
                                <button type="button" style="background-color: blue;" onclick="confirmDone()">Xác nhận</button>
                                <button type="button" style="background-color: red;" onclick="cancelConfirm()">Hủy</button>
                            </div>
                        </form>
                    </div>

                    <script>
                        function checkdone(){
                            var element = document.getElementsByClassName("check");
                            var flag = true;
                            for(let i = 0; i< element.length; i++){
                                var check = element[i].firstElementChild.checked;
                                if(check == false){
                                    flag = false;
                                }
                            }

                            if(flag == true){
                                $("#submit").removeAttr("disabled");
                            } else(
                                $("#submit").attr("disabled", true)
                            )
                        }
                    </script>
                </div>
            </div>
        </div>

    </div>
    <script src="JS/order.js"></script>
</body>
</html>