@charset "utf-8";

@font-face {
    font-family: 'main_font';
    src: url('../../Resources/font/Yanone/Yanone-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../../Resources/font/Yanone/Yanone-Regular.woff') format('woff'), 
        url('../../Resources/font/Yanone/Yanone-Regular.ttf')  format('truetype'), 
        url('../../Resources/font/Yanone/Yanone-Regular.svg#Yanone/Yanone-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
    height: 100%;
}

/*background*/
#background{
    background-color: #ececec;
    height: 100%;
}

/*navigation bar*/
#module_nav{
    width: 100%;
    height: 50px;
}

/*main part*/
#body{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 75px;
}

/*k*/
/*k*/
/*k*/
/*k*/
/*display drink*/
#display_drink{
    height: 100%;
    padding: 15px 0px 15px 0;
    font-family: main_font;
}

/*tên danh mục*/
#display_drink h2{
    font-size: 30px;
    margin: 0 0 25px 0;
    color: #ed9652;
}

.list_title::first-letter{
    text-transform: uppercase;
}
/*list thức uống*/
#display_drink ul{
    max-height: 100%;
    overflow-y: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}

/*từng món*/
#display_drink ul li{
    list-style: none;
    height: fit-content;
    width: 50%;
    padding: 5px;

}
#drink_layout{
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style: none;
    height: fit-content;
    background-color: white;
}
/*hình ảnh*/
.img{
    width: 145px;
}
.img img{
    width: 145px;
    height: auto;
}

/* thông tin món*/
.drink_info{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.drink_info h3{
    margin: 0;
}

/*tên*/
.drink_name{
    font-weight: bold;
}
.drink_name::first-letter{
    text-transform: uppercase;
}
/*giá*/
#drink_price{
    padding-left: 30px; 
    margin-top: 5px;
    font-size: 18px;
    min-height: 90px;
}
#drink_price input{
    height: 22px;
    width: 22px;
    margin: 0;
}

#drink_price div{
    display: flex;
    margin-top: 10px;
}
#drink_price label{
    margin: -2px 15px;
    font-size: 20px;
}
#drink_price label span{
    color: #ed9652;
    font-size: 20px;
}

/*Thêm topping*/
.drink_info .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addTopping{
    width: 85%;
    display: flex;
}
.addTopping i{
    color: #eeceb7;
    font-size: 25px;
    transition: all 0.5s ease;
}
.addTopping i:hover{
    cursor: pointer;
    color: #ed9652;
}
.addTopping input{
    width: 95px;
    border: none;
    border-bottom: solid 1px #ed9652;
    text-align: center;
    margin-left: 5px;
    font-size: 18px;
}
.choose_btn{
    border: none;
    background-color: #ed9652;
    color: white;
    font-size: 16px;
    width: 40px;
    height: 25px;
    border-radius: 5px;
}

/*Danh sách topping*/
.topping_list{
    display: none;
    position: absolute;
    height: fit-content;
    padding: 10px;
    width: 180px;
    margin: 0px 30px;
    box-shadow: 0 0 10px #ed9652;
    border: solid 1px #ed9652;
    background-color: #ffffff;
    border-radius: 15px;
}
.topping_list ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

.topping_list li{
    padding: 0 !important;
    margin-top: 5px;
    height: 30px !important;
    font-size: 20px;
    width: 100% !important;
    border-bottom: solid 1px #ed9652;
    font-weight: bold;
    transition: all 0.5s ease;
}
.topping_list li:hover{
    color: #ed9652;
    cursor: pointer;
    text-indent: 10px;
}
.topping_item::first-letter{
    text-transform: uppercase;
}
/**/
/**/
/**/
/**/
/*Tinh tiền*/
#billing{
    height: 100%;
    padding: 15px 15px 0 15px;
    font-family: main_font;
}
#bill_layout{
    background-color: white;
    height: 100%;   
    display: flex;
    flex-direction: column;
}

/*ngày tháng và tên nhân viên*/
#top_field{
    height: 10%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#date{
    width: 50%;
}
#date input{
    font-weight: bold;
    height: 30px;
    font-size: 18px;
    color: #ed9652;
}

#staff{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-top: 5px;
}
.staff_label{
    width: 25%;
    font-size: 18px;
    line-height: 30px;
}

.input{
    width: 75%;
    line-height: 30px;
}
.input input{
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    font-weight: bold;
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: #ed9652;
}

/**/
/**/
/*thức uống được chọn*/
#middle_field{
    height: 60%;
    border-top: solid  #ed9652; 
    border-bottom: solid  #ed9652; 
    margin-top: -6px;
    padding: 10px;
}

/*danh sách thức uống được chọn*/
#list_drink{
    display: flex;
    flex-direction: column;
    max-height: 70%;
    width: 100%;
    overflow-y: auto;
    margin: 0 0 10px 0;
    padding: 0;
}
#list_drink li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px rgb(231, 225, 225);
}
/*số lượng */
#number{
    width: 15%;
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0 5px;
    align-items: center; 
}
#number input{
    width: 25px;
    height: 20px;
    border: solid 2px #ed9652;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #ed9652;
}
#number input::-webkit-outer-spin-button,
#number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#number input[type=number] {
    -moz-appearance: textfield;
  }
/*nút tăng giảm số lượng*/
#number .arrow {
    border: solid #ed9652;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
#number .arrow:hover{
    cursor: pointer;
}
#number .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
#number .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*tên món và size*/
#drink{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
#drink p{
    margin: 0;
}

#chosen_drink_name{
    height: 50%;
    font-size: 20px;
    color: #ed9652;
    font-weight: bold;
}

#size{
    height: 50%;
}
#size p{
    font-size: 16px;
    margin: 0 10px 0 0px;
    opacity: 60%;
}
.price{
    color: #ed9652;
    font-size: 18px !important;
    line-height: 22px;
    opacity: 100% !important;
    font-weight: bold;
}
#size p:hover {
    cursor: pointer;
}
#size{
    display: flex;
    flex-direction: row;
}

/*giá từng món*/
#chosen_drink_price{
    width: 30%;
    text-align: center;
    color: #ed9652;
    font-size: 22px;
}
#chosen_drink_price p{
    margin: 0 0 -5px 0;
}

#drop_drink{
    width: 5%;
}


/*tên khách hàng*/
.input_row{
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.input_row .customer_label, .note_label{
    width: 15%;
    font-size: 18px;
    line-height: 30px;
}

.input_row .input{
    width: 85%;
}
.input_row input{
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ed9652;
}


/**/
/*Tính tiền*/
#bottom_field{
    height: 30%;
}

/*mã khuyến mãi*/
#discount{
    width: 100%;
    align-items: center;
    padding: 0 50px 0 50px;
    margin-top: 10px;
}

#discount input{
    width: 100%;
    border: solid 1px #ed9652;
}

/*tính tiền*/
#payment{
    width: 50%;
    float: right;
    margin-top: 15px;
    padding-right: 50px;
}
.payment {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.payment_title{
    width: 40%;
    font-weight: bold;
}
.money{
    width: 60%;
    font-size: 20px;
    color: #ed9652;
    font-weight: bold;
    text-align: right;
}

/*nút xác nhận*/
#confirm{
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
#confirm button{
    height: 35px;
    width: fit-content;
    padding: 0 15px 0 15px;
    border: none;
    background-color: #ed9652;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#confirm button:hover{
    border-radius: 5px;
    transform: scale(1.1,1.1);
}